/* 

This is where we can write comments is CSS

 */

 /* body is root element with the lowest specificity */
 body {
    margin: 0;
    color: aqua;
    background-color: #b60303
 }

 .fency {
    color: rgb(55,123,30, 0.8);
 }

 a { 
    color: hsl(50%, 100%, 50%, 0.8);
 }

#even-fancier {
    color: gold;

}



